{% extends 'base.html' %}

{% block title %}
Подтверждение
{% endblock %}

{% block content %}

<h1 class="h3 mb-4 fw-normal" align="center">Подтверждение</h1>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
     {{ form.errors.title }}
    {{ form.as_p }}

        <button type="sumbit" class="btn btn-primary btn-block">Отправить</button>
</form>
<p> {{ request.session.code }}</p>


{% endblock %}